*.cmd text eol=lf
*.tcl text eol=lf
*.py text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.plt text eol=lf
*.sta text eol=lf
*.err text eol=lf
*.png binary
*.pdf binary
*.tdr binary
*.sav binary
*.dat binary
*.prf text eol=lf
*.zip binary
